@model SoundHound.Models.Song
@{
    ViewBag.Title = "AddSong";
}

@*Creates a form where you can add a song to the database*@
<div id="Layout" class="jumbotron">
    <h2 class="text-center">Enter a song to add to your list</h2>
    <br />
    @using (var form = Html.BeginForm("AddSong", "Home"))
    {
        <p class="text-center">Song: @Html.TextBoxFor(x => x.SongTitle)</p>
        <br />
        <p class="text-center">Artist: @Html.TextBoxFor(x => x.Artist)</p>
        <br />
        <p class="text-center">Key: @Html.TextBoxFor(x => x.SongKey)</p>
        <br />
        <p class="text-center">BPM: @Html.TextBoxFor(x => x.BPM)</p>
        <br />
        <div class="text-center">
            <input class="btn btn-success btn-lg" type="submit" value="Add Song" name="submitSong" />
        </div>
    }
</div>

@*test*@

