@model List<SoundHound.Models.Song>
@{
    ViewBag.Title = "Home Page";
}

@*Landing page for the application*@
<div id="Layout" class="jumbotron">
    <h1 class="text-center">Sound Hound</h1>
    <div id="Image">
        <img src="https://res.cloudinary.com/teepublic/image/private/s--4sEvcZ7a--/t_Preview/b_rgb:eae0c7,c_limit,f_jpg,h_630,q_90,w_630/v1477868047/production/designs/761723_1.jpg" alt="Dog wearing glasses and headphones"/>
    </div>
    <h3 class="lead text-center">Helping you to sniff out the next perfect mix</h3>
    
</div>