@model List<SoundHound.Models.Song>
@{
    ViewBag.Title = "Home Page";
}

<div id="Layout" class="jumbotron">
    <h1 class="text-center">Sound Hound</h1>
    <div id="Image">
        <img src="http://www.publicdomainpictures.net/pictures/60000/velka/dog-silhouette-1381341952KSq.jpg" alt="Dog Silhouette" />
    </div>
    <h3 class="lead text-center">Helping you to sniff out the next perfect mix.</h3>
    
</div>