@model List<SoundHound.Models.Song>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sound Hound</h1>
    <p class="lead">Helping you to sniff out the next perfect mix.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>