@model SoundHound.Models.Song
@{
    ViewBag.Title = "SingleSong";
}

@*A page that pops up to confirm the user successfully addded a song to their list*@
    <h1 id="Layout" class="text-center">Congrats! You just added the song @Model.SongTitle by @Model.Artist</h1>
